<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <app-navbar-ui></app-navbar-ui>
  <main class="px-3 mt-5">
    <div class="row">
      <div class="col-1">
        <h2>Create your collector<br>and save your sites</h2>
        <p>Choose you what save</p>
        <button class="btn btn-info my-btn" routerLink="../log-in">Log In Now<img
          src="assets/images/Arrow-PNG-Clipart.png" alt=""></button>
      </div>
      <div class="col-2">
        <img src="assets/images/create-animated-png-campana-de-marketi.png" alt="" class="site">
        <div class="color-box"></div>
      </div>
    </div>
  </main>
</div>
