<form *ngIf="formCollector" [formGroup]="formCollector">
  <div class="mb-3" *ngIf="isButton">
    <label class="form-label" for="nameHeader">Name collector</label>
    <select class="form-select" id="nameHeader">
      <option value="" disabled>Select a collector</option>
      <option *ngFor="let collector of collectors" [value]="collector.key">{{collector.data.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="nameCollector" class="form-label" *ngIf="!isButton">Name header</label>
    <label for="nameCollector" class="form-label" *ngIf="isButton">Name button</label>
    <input type="email" class="form-control" id="nameCollector"
           [formControlName]="formControlNameCollector">
  </div>
  <div class="row">
    <div class="mb-3 col">
      <label for="colorBackground" class="form-label">Background color</label>
      <input class="form-control form-control-color" id="colorBackground" type="color"
             title="Choose your color" [formControlName]="formControlNameBackgroundColor">
    </div>
    <div class="mb-3 col">
      <label for="textColor" class="form-label">Text color</label>
      <input class="form-control form-control-color" id="textColor" type="color"
             title="Choose your color" [formControlName]="formControlNameTextColor">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <label for="textSize" class="form-label">Select text size</label>
      <select class="form-select" id="textSize" [formControlName]="formControlNameSize">
        <option value="" disabled>Select a size</option>
        <option *ngFor="let size of textSizes" [value]="size">{{size}}</option>
      </select>
    </div>
    <div class="col-6">
      <label for="allignText" class="form-label">Select where to align the text</label>
      <div class="btn-group" role="group" aria-label="Basic example" id="allignText">
        <button type="button" class="btn btn-outline-dark"
                (click)="formCollector.patchValue({align: 'left'})"><i class="bi bi-text-left"></i>
        </button>
        <button type="button" class="btn btn-outline-dark"
                (click)="formCollector.patchValue({align: 'center'})"><i class="bi bi-text-center"></i>
        </button>
        <button type="button" class="btn btn-outline-dark"
                (click)="formCollector.patchValue({align: 'right'})"><i class="bi bi-text-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="mb-3" *ngIf="isButton">
    <label class="form-label" for="linkText">Insert url</label>
    <input class="form-control" id="linkText" [formControlName]="formControlNameLink">
  </div>
  <div class="mb-3 form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked
           (input)="changeShowPreview.emit()">
    <label class="form-check-label" for="flexCheckDefault">
      Show preview
    </label>
  </div>
  <div class="mb-3 mt-5" style="margin-left: 45%; margin-right: 55%">
    <button class="btn btn-primary" [disabled]="formCollector.invalid" (click)="saveCollector.emit()">Save</button>
  </div>
</form>
