<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-2">
  <li [ngbNavItem]="1">
    <a ngbNavLink>New Collector</a>
    <ng-template ngbNavContent>
      <div class="container-fluid h-100 mt-4">
        <div class="row h-100">
          <div class="col-6 h-100">
            <div class="card">
              <h5 class="card-header">{{('customize the collector') | uppercase}}</h5>
              <div class="card-body">
                <app-card-options-ui
                  [textSizes]="textHeaderSizes"
                  [isButton]="false"
                  [formControlNameSize]="formControlNameSize"
                  [formControlNameCollector]="formControlNameCollector"
                  [formControlNameTextColor]="formControlNameTextColor"
                  [formControlNameBackgroundColor]="formControlNameBackgroundColor"
                  [formCollector]="formHeaderCollector"
                  [formControlNameAlign]="formControlNameAlign"
                  [showPreview]="showHeaderPreview"
                  (changeShowPreview)="changeShowPreview.emit($event)"
                  (saveCollector)="saveHeaderCollector.emit()"
                ></app-card-options-ui>
              </div>
            </div>
          </div>
          <div class="col-6 h-100" *ngIf="showHeaderPreview">
            <ul class="list-group" *ngIf="formHeaderCollector">
              <button
                *ngIf="formControlNameCollector && formControlNameBackgroundColor && formControlNameTextColor && formControlNameSize && formControlNameAlign"
                type="button" class="list-group-item cursor-default"
                [ngStyle]="{'background-color': formHeaderCollector.get(formControlNameBackgroundColor)?.value,
                       'color': formHeaderCollector.get(formControlNameTextColor)?.value,
                       'font-size': formHeaderCollector.get(formControlNameSize)?.value,
                       'text-align': formHeaderCollector.get(formControlNameAlign)?.value}"
              >{{formHeaderCollector.get(formControlNameCollector)?.value}}</button>
              <button class="list-group-item list-group-item-action">An item</button>
              <button class="list-group-item list-group-item-action">A second item</button>
              <button class="list-group-item list-group-item-action">A third item</button>
              <button class="list-group-item list-group-item-action">A fourth item</button>
              <button class="list-group-item list-group-item-action">And a fifth one</button>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>New Button</a>
    <ng-template ngbNavContent>
      <div class="container-fluid h-100 mt-4">
        <div class="row h-100">
          <div class="col-6 h-100">
            <div class="card">
              <h5 class="card-header">{{('customize the buttons') | uppercase}}</h5>
              <div class="card-body">
                <app-card-options-ui
                  [textSizes]="textButtonSizes"
                  [isButton]="true"
                  [formControlNameSize]="formControlNameSize"
                  [formControlNameCollector]="formControlNameCollector"
                  [formControlNameTextColor]="formControlNameTextColor"
                  [formControlNameBackgroundColor]="formControlNameBackgroundColor"
                  [formCollector]="formButtonCollector"
                  [formControlNameAlign]="formControlNameAlign"
                  [formControlNameLink]="formControlNameLink"
                  [formControlNameKeyCollector]="formControlNameKeyCollector"
                  [showPreview]="showButtonPreview"
                  [collectors]="collectors"
                  (changeShowPreview)="changeShowPreview.emit($event)"
                  (saveCollector)="saveButtonCollector.emit()"
                ></app-card-options-ui>
              </div>
            </div>
          </div>
          <div class="col-6 h-100" *ngIf="showButtonPreview">
            <ul class="list-group" *ngIf="formButtonCollector">
              <button
                style="background-color: #F7F7F7"
                type="button" class="list-group-item cursor-default"
              >Header Collector
              </button>
              <button class="list-group-item list-group-item-action"
                      *ngIf="formControlNameCollector && formControlNameBackgroundColor && formControlNameTextColor && formControlNameSize && formControlNameAlign"
                      [ngStyle]="{'background-color': formButtonCollector.get(formControlNameBackgroundColor)?.value,
                       'color': formButtonCollector.get(formControlNameTextColor)?.value,
                       'font-size': formButtonCollector.get(formControlNameSize)?.value,
                       'text-align': formButtonCollector.get(formControlNameAlign)?.value}">{{formButtonCollector.get(formControlNameCollector)?.value}}</button>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
