/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
  }

.text-align-c{
  text-align: center;
}

.p-0{
  padding: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.h-50{
  height: 50px !important;
}

.fc-eff0ec{
  background-color: #eff0ec !important;
}

.br-45{
  border-radius: 45px !important;
}

.pr-10{
  padding-right: 10%;
}

.pl-10{
  padding-left: 10%;
}

.m-center {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.push-right {
  float: right;
}

.red {
  color: red;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-image {
  background-image: url(src/assets/images/light-grey-background-hd-0.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}
